body {
    width: 1200px;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 10px;
    flex-shrink: 0;
}

header span {
    margin-right: 10px;
}

#container {
    width: 900px;
    height: 900px;  
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 1px;
    justify-content: center;
    align-items: center;
}

.colorOver {
    background-color: red;
}

.row {
    display: flex;
    width: 100%;
    justify-content: stretch;
    gap: 1px;
    height: 100%;
}

.box {
    flex-shrink: 1;
    flex-grow: 1;
}

.baseColor {
    background-color: #d8b8b8;
}

footer {
    margin-bottom: 2px;
}